black
clearml
dvc
dvc-s3
ensemble-boxes
ipykernel
ipython
isort
iterative-stratification
matplotlib
numpy
opencv-python
optuna
pillow
plotly
ruff
scikit-learn
scipy
torch
torchmetrics
torchvision
ultralytics

git+https://github.com/facebookresearch/detectron2.git